*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
  align-items: center;
  justify-content: center;
 max-width: 100vw;
  height: 100vh;
}
body{
background-color: gray;
}
#display{
    background-color:black ;
    color: white;
    font-size: 30px;
    padding:20px;
    padding-left: 30px;
    padding-right: 30px;
    word-spacing: 10px;
    border-radius: 10px;
}
#btns{
 display: flex;
 flex-direction:row;
 justify-content: space-evenly;
 width: 100%;
}
.a{
margin-top: 20px;
padding-left: 40px;
padding-right: 40px;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
font-size: 30px;
font-weight: 500;
color: white;
}
#start{
    background-color: rgb(35, 110, 35);
}
#stop{
    background-color: rgb(154, 24, 24);
}
#reset{
    background-color: rgb(1, 3, 126);
}
